<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <!--<ul class="nav">-->
            <!--<li class="nav-profile">-->
                <!--<div class="image">-->
                    <!--<a href="javascript:;"><img src="img/user-13.jpg" alt="" /></a>-->
                <!--</div>-->
                <!--<div class="info">-->
                    <!--Sean Ngu-->
                    <!--<small>Front end developer</small>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="has-sub">
                <a href="javascript:;">
                    <span>导航栏</span>
                </a>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('house-dict.dict')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-th"></i>
                    <span>楼盘字典  </span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="house-dict.dict.dashboard.v2">全国概况</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('house-dict.dict.community')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> 小区</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="house-dict.dict.community.list1">list1</a></li>
                            <li ui-sref-active="active"><a ui-sref="house-dict.dict.community.list2">list2</a></li>
                        </ul>
                    </li>
                    <li class="has-sub" ng-class="{active:$state.includes('house-dict.dict.building')}">
                        <a href="javascript:;"><b class="caret pull-right"></b> 楼栋</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="house-dict.dict.building.list1">list1</a></li>
                            <li ui-sref-active="active"><a ui-sref="house-dict.dict.building.list2">list2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

